<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.Board_postMapper">

  <select id="list" resultType="Board_post">
    SELECT * FROM board_post
  </select>

  <insert id="insert">
    INSERT INTO board_post(
    )
    VALUES (
    )
  </insert>

  <update id="update">
    UPDATE board_post
    <set>
      updated_at = now()
    </set>
    WHERE -- key 지정 필요
  </update>

  <delete id="delete">
    DELETE FROM board_post WHERE -- key 지정 필요
  </delete>

  <update id="completeAll">
    UPDATE board_post SET -- 수정필드 없음
  </update>

  <delete id="deleteAll">
    DELETE FROM board_post
  </delete>
</mapper>