<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.Com_vote_argumentMapper">

  <select id="list" resultType="Com_vote_argument">
    SELECT * FROM com_vote_argument
  </select>

  <insert id="insert">
    INSERT INTO com_vote_argument(
    )
    VALUES (
    )
  </insert>

  <update id="update">
    UPDATE com_vote_argument
    <set>
      updated_at = now()
    </set>
    WHERE -- key 지정 필요
  </update>

  <delete id="delete">
    DELETE FROM com_vote_argument WHERE -- key 지정 필요
  </delete>

  <update id="completeAll">
    UPDATE com_vote_argument SET -- 수정필드 없음
  </update>

  <delete id="deleteAll">
    DELETE FROM com_vote_argument
  </delete>
</mapper>