<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.ComManagerMapper">

  <select id="list" resultType="ComManager">
    SELECT * FROM com_manager
  </select>

  <insert id="insert">
    INSERT INTO com_manager(
    )
    VALUES (
    )
  </insert>

  <update id="update">
    UPDATE com_manager
    <set>
      updated_at = now()
    </set>
    WHERE -- key 지정 필요
  </update>

  <delete id="delete">
    DELETE FROM com_manager WHERE -- key 지정 필요
  </delete>

  <update id="completeAll">
    UPDATE com_manager SET -- 수정필드 없음
  </update>

  <delete id="deleteAll">
    DELETE FROM com_manager
  </delete>
</mapper>