<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.Community_categoryMapper">

  <select id="list" resultType="Community_category">
    SELECT * FROM community_category
  </select>

  <insert id="insert">
    INSERT INTO community_category(
    )
    VALUES (
    )
  </insert>

  <update id="update">
    UPDATE community_category
    <set>
      updated_at = now()
    </set>
    WHERE -- key 지정 필요
  </update>

  <delete id="delete">
    DELETE FROM community_category WHERE -- key 지정 필요
  </delete>

  <update id="completeAll">
    UPDATE community_category SET -- 수정필드 없음
  </update>

  <delete id="deleteAll">
    DELETE FROM community_category
  </delete>
</mapper>