<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.ComVoteArgumentMapper">

  <select id="list" resultType="ComVoteArgument">
    SELECT * FROM com_vote_argument
  </select>

  <insert id="insert" >
    INSERT INTO com_vote_argument (vote_id, content, arg_no)
    VALUES (
      #{voteId},
      #{content},
      (SELECT new_arg_no FROM (
        SELECT COALESCE(MAX(arg_no), 0) + 1 AS new_arg_no
        FROM com_vote_argument
        WHERE vote_id = #{voteId}
      ) AS temp)
    )
  </insert>



  <update id="update">
    UPDATE com_vote_argument
    <set>
      updated_at = now()
    </set>
    WHERE -- key 지정 필요
  </update>

  <delete id="delete">
    DELETE FROM com_vote_argument
    WHERE id = #{id}
  </delete>

  <!-- 항목 삭제 후 -->
  <!-- <update id="reorderArguments">
    UPDATE com_vote_argument
    <set>
      arg_no = arg_no - 1
    </set>
    WHERE vote_id = #{voteId}
      AND arg_no > #{argNo}
  </update> -->

  <update id="completeAll">
    UPDATE com_vote_argument SET -- 수정필드 없음
  </update>

  <delete id="deleteAll">
    DELETE FROM com_vote_argument
  </delete>

  <!-- 특정 투표의 모든 선택지 삭제 -->
  <delete id="deleteByVoteId">
    DELETE FROM com_vote_argument
    WHERE vote_id = #{voteId}
  </delete>

  <!-- 특정 투표의 모든 선택지 조회 -->
  <select id="selectById" resultType="ComVoteArgument">
    SELECT * FROM com_vote_argument
    WHERE vote_id = #{voteId}
  </select>



</mapper>