<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.ComVoteMapper">

  <resultMap id="ComVoteResultMap" type="ComVote">
    <id property="id" column="id"/>
    <result property="postId" column="post_id"/>
    <result property="title" column="title"/>
    <result property="createdAt" column="created_at"/>
    <result property="closedAt" column="closed_at"/>
    <result property="isCompleted" column="is_completed"/>
    
    <!-- 투표 항목 -->
    <collection property="arguments" ofType="ComVoteArgument">
      <result property="argNo" column="arg_no"/>
      <result property="content" column="content"/>
    </collection>
  </resultMap>

  <select id="list" resultType="ComVote">
    SELECT * FROM com_vote
  </select>

  <select id="selectByPostId" resultType="ComVote">
    SELECT cv.*, cva.arg_no, cva.content
    FROM com_vote cv
    LEFT JOIN com_vote_argument cva ON cv.id = cva.vote_id
    WHERE cv.post_id = #{postId}
    ORDER BY arg_no
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO com_vote
    (post_id, title, closed_at)
    VALUES
    (#{postId}, #{title}, #{closedAt})
  </insert>

  <update id="update">
    UPDATE com_vote
    <set>
      title = #{title},
      closed_at = #{closedAt},
      is_completed = #{isCompleted}
    </set>
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM com_vote
    WHERE id = #{id}
  </delete>

  <delete id="deleteByPostId">
    DELETE FROM com_vote
    WHERE post_id = #{postId}
  </delete>

  <update id="completeAll">
    UPDATE com_vote SET
  </update>

  <delete id="deleteAll">
    DELETE FROM com_vote
  </delete>
</mapper>