<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.LikesDislikesMapper">

  <select id="list" resultType="LikesDislikes">
    SELECT * FROM likes_dislikes
  </select>

  <select id="countLikesDislikes" resultType="map">
    SELECT is_likes, COUNT(*) AS count
    FROM likes_dislikes
    WHERE type = #{type}
      AND target_id = #{targetId}
    GROUP BY is_likes
  </select>

  <select id="selectByUser" resultType="LikesDislikes">
    SELECT *
    FROM likes_dislikes
    WHERE user_id = #{userId}
      AND type = #{type}
      AND target_id = #{targetId}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO likes_dislikes(type, user_id, is_likes, target_id)
    VALUES (#{type}, #{userId}, #{isLikes}, #{targetId})
  </insert>

  <update id="update">
    UPDATE likes_dislikes
    <set>
      is_likes = #{isLikes}
    </set>
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM likes_dislikes
    WHERE id = #{id}
  </delete>

  <update id="completeAll">
    UPDATE likes_dislikes SET -- 수정필드 없음
  </update>

  <delete id="deleteAll">
    DELETE FROM likes_dislikes
  </delete>
</mapper>