<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.admin.ReportMapper">

    <resultMap id="ReportResultMap" type="com.cosmus.resonos.domain.community.Report">
        <id property="id" column="id"/>
        <result property="reason" column="reason"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="reporterId" column="reporter_id"/>
        <result property="boardPostId" column="board_post_id"/>
        <result property="adminId" column="admin_id"/>
        <!-- 이동용 -->
        <result property="communityId" column="community_id"/>
    </resultMap>

    <select id="findByReporterId" resultMap="ReportResultMap">
        SELECT * FROM report WHERE reporter_id = #{reporterId} ORDER BY created_at DESC
    </select>

    <select id="findByBoardPostId" resultMap="ReportResultMap">
        SELECT * FROM report WHERE board_post_id = #{boardPostId} ORDER BY created_at DESC
    </select>

    <select id="findAll" resultMap="ReportResultMap">
        SELECT * FROM report ORDER BY created_at DESC
    </select>

    <update id="updateStatus">
        UPDATE report
        SET status = #{status},
            admin_id = #{adminId}
        WHERE id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO report
        (reason, reporter_id, board_post_id)
        VALUES
        (#{reason}, #{reporterId}, #{boardPostId})
    </insert>

    <select id="list" resultMap="ReportResultMap">
        SELECT * FROM report ORDER BY created_at DESC
    </select>

    <select id="select" resultMap="ReportResultMap">
        SELECT r.*, bp.community_id
        FROM report r
        JOIN board_post bp ON r.board_post_id = bp.id
        WHERE r.id = #{id}
    </select>

    <update id="update">
        UPDATE report
        SET reason = #{reason},
            status = #{status},
            created_at = #{createdAt},
            reporter_id = #{reporterId},
            board_post_id = #{boardPostId},
            admin_id = #{adminId}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM report WHERE id = #{id}
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM report
    </select>
    <!-- 관리자용  -->
        <select id="countByBlind" resultType="int">
        SELECT COUNT(id)
        FROM report
        WHERE status = 'BLIND'
    </select>

    <!--  // report 페이징 countByStatus, findByStatusPaging, findAllPaging -->
    <select id="countByStatus" resultType="long">
        SELECT COUNT(*)
        FROM report
        WHERE status = #{status}
    </select>

    <select id="findByStatusPaging" resultMap="ReportResultMap">
        SELECT * FROM report
        WHERE status = #{status}
        ORDER BY created_at DESC
        LIMIT #{pagination.index}, #{pagination.size}
    </select>

    <select id="findAllPaging" resultMap="ReportResultMap">
        SELECT r.*, bp.community_id 
        FROM report r
        JOIN board_post bp ON r.board_post_id = bp.id
        ORDER BY r.created_at DESC
        LIMIT #{index}, #{size}

    </select>




</mapper>
